.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 500px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
  margin-right: 10px;
}

.input:focus {
  border-color: red;
}


button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ff644f;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

button[type="submit"]:hover {
  background-color: hsl(8, 88%, 77%);
}

.container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 4% 0 0 0;
}

.message-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  width: 100%;
}

.message {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.question {
  background-color: #e6e5e4;
  color: #000000;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
  margin-bottom: 5px;
}

.response {
  background-color: #ffe6cf;
  color: #000000;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  margin-bottom: 5px;
}


.loader {
  position: relative;
  width: 200px;
  height: 120px;
  margin: 0 auto 0 auto;
}

.loader:before,
.loader:after {
  content: "생각즁";
  font-size: 9px;
  box-sizing: border-box;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  width: 60px;
  height: 60px;
  /* margin-top: -75px; */
  /* margin-left: -75px; */
  border-radius: 50%;
  border: 10px solid rgb(239, 95, 66);
  border-top-color: #35c4a3;
  animation: loader 1s ease-in-out infinite;
}


@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-text {
  0% {
    transform: translate(-50%, -80%) rotate(0);
  }
  100% {
    transform: translate(-50%, -80%) rotate(360deg);
  }
}
